<header class="header">
  <a class="logo" routerLink="/">PetCare+</a>
  <nav class="nav">
    <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">Inicio</a>
    <a routerLink="/servicios" routerLinkActive="active-link">Servicios</a>
    <a routerLink="/ropa" routerLinkActive="active-link">Ropa</a>
    <a routerLink="/reseñas" routerLinkActive="active-link">Reseñas</a>
    <a routerLink="/contacto" routerLinkActive="active-link">Contacto</a>
  </nav>
</header>
