# Dependencias
node_modules/
pet-backend/node_modules/
pet-landing/node_modules/

# Build Angular
pet-landing/dist/
pet-landing/.angular/cache/

# Entornos
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
